global:
  domain: ""
  limitsEnabled: true
  logLevel: "ERROR"
  tier: ""
  autoscalingMode: "cpu"

data:
  # Configmaps
  logLevel: ""
  entitlementsHost: "http://entitlements"
  partitionHost: "http://partition"
  policyHost: "http://policy"
  policyId: 'osdu.partition["%s"].search'
  securityHttpsCertificateTrust: "true"
  otelJavaagentEnabled: "true"
  otelExporterEndpoint: "http://opentelemetry-collector.opentelemetry.svc.cluster.local:4318"
  # Deployments
  requestsCpu: "65m"
  requestsMemory: "400Mi"
  limitsCpu: "1"
  limitsMemory: "1G"
  serviceAccountName: "search"
  imagePullPolicy: "IfNotPresent"
  image: ""
  affinityLabelsSpot:
    cloud.google.com/gke-provisioning:
      - spot
  affinityLabelsStandard:
    cloud.google.com/gke-provisioning:
      - standard
  # redis connection. Change it if you want to use external redis
  redisSearchHost: ""
  redisSearchPort: 6379
  redisImage: "docker.io/library/redis:7.2-alpine"

conf:
  appName: "search"
  elasticSecretName: "search-elastic-secret"
  searchRedisSecretName: "search-redis-secret"

istio:
  proxyCPU: "5m"
  proxyCPULimit: "200m"
  proxyMemory: "50Mi"
  proxyMemoryLimit: "256Mi"

hpa:
  minReplicas: 1
  maxReplicas: 6
  cpu:
    utilization: 200
    scaleUpStabilizationWindowSeconds: 30
    scaleUpValue: 200
    scaleUpPeriod: 15
    scaleDownStabilizationWindowSeconds: 150
    scaleDownValue: 100
    scaleDownPeriod: 15
  requests:
    targetType: "AverageValue"
    targetValue: 200
    scaleUpStabilizationWindowSeconds: 10
    scaleUpValue: 50
    scaleUpPeriod: 15
    scaleDownStabilizationWindowSeconds: 60
    scaleDownValue: 25
    scaleDownPeriod: 60

local_ratelimit:
  max_tokens: 150
  tokens_per_fill: 150
  fill_interval: "1s"
