variables:
  GC_SERVICE: search
  GC_VENDOR: gc
  # GC Acceptance Test Variables
  HOST: "https://$GC_DOMAIN"
  SEARCH_HOST: "https://$GC_DOMAIN/api/search/v2/"
  STORAGE_HOST: "https://$GC_DOMAIN/api/storage/v2/"
  INDEXER_HOST: "https://$GC_DOMAIN/api/indexer/v2/"
  DEFAULT_DATA_PARTITION_ID_TENANT1: $GC_TENANT
  DEFAULT_DATA_PARTITION_ID_TENANT2: "non-exist"
  ENTITLEMENTS_DOMAIN: "group"
  GROUP_ID: "group"
  LEGAL_TAG: "$LEGAL_TAG"
  OTHER_RELEVANT_DATA_COUNTRIES: "US"
  OTEL_JAVAAGENT_ENABLED: "true"

download_gc_plugins:
  image: maven:3.8.3-openjdk-17-slim
  stage: build
  variables:
    GC_APD_PACKAGE_REGISTRY_URL: "https://community.opengroup.org/api/v4/projects/1480/packages/maven"
    GC_APD_VERSION: "0.27.2"
  artifacts:
    paths:
      - ./tmp-gc/*.jar
    when: always
    expire_in: 1 days
  script:
    - mvn dependency:copy -DrepoUrl=$GC_APD_PACKAGE_REGISRTY_URL -Dartifact="org.opengroup.osdu:gc-apd-acc:$GC_APD_VERSION:jar:plugin" -Dtransitive=false -DoutputDirectory="./tmp-gc"
  only:
    variables:
      - $GC == '1'

gc-containerize-gitlab:
  needs: ["gc-compile-and-unit-test", "download_gc_plugins"]

gc-containerize-gcr:
  needs: ["gc-compile-and-unit-test", "download_gc_plugins"]
